# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
downloads/

# Log files:
*.log

# Project configuration files
.idea/

# PyBuilder
target/

# Environments
.venv
venv/

# Allure results
test_results/